Body{
	background-color: lemonchiffon;
}

h1{
font-size: 30px; 
color:salmon
}
h2{
font-size: 14px;
color: olive;
}
.big{
font-size: 60px;
}
.uppercase{
text-transform: uppercase;
}
span{ 
color: darkblue;
}